.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

/.idea/
/blinq-android.iml
/blinq/.idea/
/blinq/blinq.iml

/libraries/facebook/build/
/libraries/facebook/.idea/

/libraries/facebook/facebook.iml
